
resource "tfe_workspace" "{{ workspace_name.split("-")|join("_") }}" {
    name = "{{ workspace_name }}"
    organization = "{{ organization }}"
    {% if auto_apply and auto_apply|length > 0 %}
    auto_apply = {{ auto_apply }}
    {% endif %}
    terraform_version = "{{ terraform_version }}"
    {% if working_directory and working_directory|length > 0 %}
    working_directory = "{{ working_directory }}"
    {% endif %}
    vcs_repo = {
        identifier = "{{ vcs_repo.identifier }}"
        {% if vcs_repo.branch and vcs_repo.branch|length > 0 %}
        branch = "{{ vcs_repo.branch }}"
        {% endif %}
        oauth_token_id = "{{ vcs_repo.oauth_token_id }}"
        ingress_submodules = {{ vcs_repo.ingress_submodules }}
    }
}
